*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}


.container{
    max-width: 1148px;
    margin : 0 auto;
    padding : 16px;

}

.text{
    font-size : 32px;
    color : #c2b9b9;
    font-family: sans-serif;
    padding : 20px;
    border : 1px solid #888;
    line-height: 1.5;
}

.correct{
    /* background-color: rgba(92, 189, 92, 0.651); */
    color : green;
    /* padding : 0 4px; */
    /* width: 16px; */
}

.correct.modified{
    /* background: rgba(245, 221, 6, 0.829); */
    color : rgb(226, 185, 109);
}

.wrong{
    /* background-color: rgba(226, 93, 93, 0.699);
    width: 16p
    color : #333; */
    color : orangered
}

.not-typed-yet.modified{
    background-color: #dbd8d84d
}

@keyframes blink {
    0%, 49%{
        background : purple;
        color : #fff;
    }
    50%, 100%{
        background : #fff;
        color : #333;
    }
}


.active{
    animation : blink 1s infinite;
}

.card{
    padding : 12px 48px;
    background : #372948;
    color : #fff;
    font-family: sans-serif;
    display: inline-block;
    border-radius: 8px;
}

.card .speed{
    font-size : 36px;
    display: inline-block;
    margin-bottom : 4px;
}

